body{
    background-color: azure;
}
#head{
    background-color: bisque;
    padding: 20px;
    font-size: 15px;
}
#A2{
    background-color: tomato;
    padding: 20px;
}
div, section{
    border-radius: 10px;
}
h3{
    color: crimson;
}
div p{
    font-size: 18px;
}
